.vue-mentions__container {
  position: relative;
}

.vue-mentions__input {
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #e1e1e1;
  border-radius: 4px;

  &[data-type="textarea"] {
    height: 48px;
    overflow: auto;
    resize: both;
  }
}

.vue-mentions__mention {
  font-style: normal;
  white-space: pre-wrap;
}

.vue-mentions__dropdown {
  position: fixed;
  left: 0;
  top: 0;
  width: max-content;
  z-index: 2147483647;

  .vue-mentions__dropdown-list {
    list-style: none;
    max-height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    background-color: #fff;

    .vue-mentions__dropdown-list-option {
      padding: 0 4px;
      line-height: 28px;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;

      &.active {
        background-color: #efefef;
      }
    }
  }

  .vue-mentions__dropdown-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    white-space: nowrap;
    font-size: 12px;
    color: #ccc;
  }
}
